{% extends 'starter-page.html'%}
{% load static %}

{% block content %}

     <section id="appointment" class="appointment section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Edit Appointment</h2>

      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <form method="post">
            {% csrf_token %}
          <div class="row">
            <div class="col-md-4 form-group">
              <input type="text" value="{{ editinfo.name }}" name="name" class="form-control" id="name" placeholder="Your Name" required="">
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input type="email" value="{{ editinfo.email }}" class="form-control" name="email" id="email" placeholder="Your Email" required="">
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input type="tel" value="{{ editinfo.phone }}" class="form-control" name="phone" id="phone" placeholder="Your Phone" required="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 form-group mt-3">
              <input type="datetime-local" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" required="">
            </div>
             <div class="col-md-4 form-group mt-3">
              <select name="department" id="department" class="form-select" required="">
                <option value="">Select Photograph</option>
                <option value="Portrait Photography----Ksh.20712.00 " {% if editinfo.department == "Portrait Photography----Ksh.20712.00" %}selected{% endif %}>Portrait Photography----Ksh.20712.00</option>
                <option value="Sports Photography----Ksh.25890.00" {% if editinfo.department == "Sports Photography----Ksh.25890.00" %}selected{% endif %}>Sports Photography----Ksh.25890.00</option>
                <option value="Wedding Photography----Ksh.64725.00" {% if editinfo.department == "Wedding Photography----Ksh.64725.00" %}selected{% endif %}>Wedding Photography----Ksh.64725.00</option>
                <option value="Fashion Photography----Ksh.38835.00" {% if editinfo.department == "Fashion Photography----Ksh.38835.00" %}selected{% endif %}>Fashion Photography----Ksh.38835.00</option>
                <option value="Still Life Photography----Ksh.15534.00" {% if editinfo.department == "Still Life Photography----Ksh.15534.00" %}selected{% endif %}>Still Life Photography----Ksh.15534.00</option>
                <option value="Photojournalism----Ksh.25890.00" {% if editinfo.department == "Photojournalism----Ksh.25890.00" %}selected{% endif %}>Photojournalism----Ksh.25890.00</option>
              </select>
            </div>

          </div>

          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)">{{ editinfo.message }}</textarea>
          </div>
          <div class="mt-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
            <div class="text-center"><button type="submit">Make an Appointment</button></div>
          </div>
        </form>

      </div>

{% endblock %}